{% extends 'layout.html' %}

{% block header %}

<h1>{{ post.title }}</h1>
<h3>{{ post.content }}</h3>
<hr />

{% endblock %}

{% block content %}
<h4>Comments</h4>
{% for comment in comments %}
<div>
    <p>{{comment.userid}}: {{comment.comment}}</p>
</div>
{% endfor %}

{% if is_loggedIn %}
<form method="post" action="/comment">
    <label for="comment">Comment:</label>
    <input name="comment" type="text" id="comment" maxlength="200" required>
    <input name="postid" type="hidden" id="postid" value="{{post.id}}">
    <button type="submit">Comment!</button>
</form>
{% endif %}
{% endblock %}
