{% extends 'layout.html' %}

{% block script %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block header %}
<h1>Register<h1>
{% endblock %}

{% block content %}
  <form method="post" action="/register">
    <label for="name">Full Name</label>
    <input name="name" id="name" placeholder="John Deer" required>
    <br />
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br />
    <label for="phonenumber">Phonenumber</label>
    <input name="phonenumber" id="phonenumber" required>
    <br />
    <button id="submit" type="submit">Register</button>
  </form>
  <div class="requirements">
    <h3>Password requirements</h3>
    <p><b>Must contain at least:</b></p>
    <p id="length" class="invalid">10 characters</p>
    <p id="letter" class="invalid">1 lowercase</p>
    <p id="capital" class="invalid">1 capital letter</p>
    <p id="number" class="invalid">1 number</p>
    <p id="special" class="invalid">1 special character</p>
   </div>
{% endblock %}
