<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<meta name="google-signin-client_id" content="824399620081-0spurelgnenff5ncriber3np5ui0453i.apps.googleusercontent.com">
<script type="text/javascript">
    function onSignIn(googleUser) {
        let idToken = googleUser.getAuthResponse().id_token;

        let xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8000/sso');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            if (xhr.responseText == null) {
             console.log("Not signed in")
            }
            else {
                console.log('Signed in as :' + xhr.responseText);
                window.location.replace("http://localhost:8000/database");
            }
        }
        xhr.send(idToken);
        }

     function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut()
     }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<title>N.S.A database</title>

<header>
    {% block header %}{% endblock %}
</header>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}
