[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
flask = "*"
flask-restplus = "*"
flask-login = "*"
Flask-SQLAlchemy = "*"
bcrypt = "*"
requests = "*"

[requires]
python_version = "3.6"

[scripts]
serve = "gunicorn --bind 0.0.0.0:8000 'app.app:create_app()' --reload"
